
{{#if error }}
  {{> error }}
{{/if}}

<form class="py2 mb4" action="/parse" enctype="multipart/form-data" method="post" novalidate>
  <h1 class="mt0">Parse CSS</h1>
  <div class="mb3">
    <label class="bold block">URI</label>
    <input class="h3 block input-big full-width field-light"
      type="url"
      name="url"
      value="{{ url }}"
      placeholder="URL, Domain, or Direct CSS Link"
      pattern="[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)"
      autofocus>
  </div>
  <button class="h3 button-blue" type="submit">Go</button>
</form>

{{#if links}}
  <div class="mb4">
    <h2 class="mt0 mb3">View Stats for Popular Sites and Frameworks</h2>
    <ul class="list-reset flex flex-wrap mxn2 mb0">
      {{#each links }}
        <li class="col-6 sm-col-4 md-col-3 lg-col-2 mb2">
          <a href="
            {{#if link }}
            /stats?link={{encode link }}&name={{ name }}
            {{else}}
              {{#if url}}
                /stats?url={{encode url }}&name={{ name }}
              {{/if}}
            {{/if}}
            " class="button block button-nav-light">
            {{ name }}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}
