
{{#if error }}
  {{> error }}
{{/if}}

<header class="sm-flex flex-center py2 mb3 border-bottom">
  <div class="flex-grow break-word" style="max-width:80%">
    <h1 class="m0" style="max-width:80%">
      {{#if name }}
        {{ name }}
      {{else}}
        {{#if source.pageTitle }}
          {{ source.pageTitle }}
        {{else}}
          {{#if link }}
            {{ link }}
          {{else}}
            {{ url }}
          {{/if}}
        {{/if}}
      {{/if}}
    </h1>
  </div>
  <div class="sm-right-align flex-grow">
    <h1 class="h2 m0">{{filesize stats.size }}</h1>
  </div>
</header>

<section id="top-stats" class="flex flex-wrap mxn2 mb4">
  <div class="col-6 md-col-3 p2">
    <h1 class="h00 lh1 m0">{{number stats.rules.length }}</h1>
    <p class="h3 bold lh1 m0">Rules</p>
  </div>
  <div class="col-6 md-col-3 p2">
    <h1 class="h00 lh1 m0">{{number stats.aggregates.selectors }}</h1>
    <p class="h3 bold lh1 m0">Selectors</p>
  </div>
  <div class="col-6 md-col-3 p2">
    <h1 class="h00 lh1 m0">{{number stats.aggregates.declarations }}</h1>
    <p class="h3 bold lh1 m0">Declarations</p>
  </div>
  <div class="col-6 md-col-3 p2">
    <h1 class="h00 lh1 m0">{{number stats.aggregates.properties.length }}</h1>
    <p class="h3 bold lh1 m0">Properties</p>
  </div>
</section>

<section id="declarations" class="mb4">
  <h1 class="h2 m0">Total Declarations</h1>
  <div class="flex flex-wrap mxn2">
    <div class="col-6 sm-col-4 lg-col-2 p2">
      <p class="bold lh1 m0">Font Size</p>
      <h1 class="h0 lh1 m0">{{number stats.aggregates.fontSize.total }}</h1>
    </div>
    <div class="col-6 sm-col-4 lg-col-2 p2">
      <p class="bold lh1 m0">Float</p>
      <h1 class="h0 lh1 m0">{{number stats.aggregates.float.total }}</h1>
    </div>
    <div class="col-6 sm-col-4 lg-col-2 p2">
      <p class="bold lh1 m0">Width</p>
      <h1 class="h0 lh1 m0">{{number stats.aggregates.width.total }}</h1>
    </div>
    <div class="col-6 sm-col-4 lg-col-2 p2">
      <p class="bold lh1 m0">Height</p>
      <h1 class="h0 lh1 m0">{{number stats.aggregates.height.total }}</h1>
    </div>
    <div class="col-6 sm-col-4 lg-col-2 p2">
      <p class="bold lh1 m0">Color</p>
      <h1 class="h0 lh1 m0">{{number stats.aggregates.color.total }}</h1>
    </div>
    <div class="col-6 sm-col-4 lg-col-2 p2">
      <p class="bold lh1 m0">Background Color</p>
      <h1 class="h0 lh1 m0">{{number stats.aggregates.backgroundColor.total }}</h1>
    </div>
  </div>
</section>

<section id="unique-colors" class="mb4">
  <h2>
    {{ uniques.color.length }}
    {{pluralize uniques.color.length 'Unique Color' 'Unique Colors' }}
  </h2>
  <div class="flex flex-wrap mxn2">
    {{#each uniques.color }}
      <div class="col-4 sm-col-3 lg-col-2 p2">
        <div class="h0 lh1 bold" style="color:{{ this.value }}">Aa</div>
        <div class="h6 break-word">{{ this.value }}</div>
      </div>
    {{/each}}
  </div>
</section>

<section id="unique-background-colors" class="mb4">
  <h2>
    {{ uniques.backgroundColor.length }}
    {{pluralize uniques.backgroundColor.length 'Unique Background Color' 'Unique Background Colors' }}
  </h2>
  <div class="flex flex-wrap mxn2">
    {{#each uniques.backgroundColor }}
      <div class="col-4 sm-col-3 lg-col-2 p2">
        <div class="mb1">
          <svg viewBox="0 0 64 64" width="64" height="64" style="display:block;width:100%;height:auto">
            <rect width="64" height="64" fill="{{ this.value }}"/>
          </svg>
        </div>
        <div class="h6 break-word">{{ this.value }}</div>
      </div>
    {{/each}}
  </div>
</section>

<section id="unique-font-sizes" class="mb4">
  <h2>
    {{ uniques.fontSize.length }}
    {{pluralize uniques.fontSize.length 'Unique Font Size' 'Unique Font Sizes' }}
  </h2>
  <div class="">
    {{#each uniques.fontSizeSorted }}
      <div class="bold truncate mb1" style="font-size:{{ this.value }}">
        Font Size {{ this.value }}
      </div>
    {{/each}}
  </div>
</section>

<section id="unique-font-families" class="mb4">
  <h2>
    {{ uniques.fontFamily.length }}
    {{pluralize uniques.fontFamily.length 'Unique Font Family' 'Unique Font Families' }}
  </h2>
  {{#each uniques.fontFamily }}
    <div class="h3 bold break-word mb1" style="font-family:{{ this.value }}">
      {{ this.value }}
    </div>
  {{/each}}
</section>


<section id="unique-totals" class="mb4">
  <h1 class="h2 mt0">Total vs. Unique Declarations</h1>
  <div class="flex flex-wrap mb4">
    <div class="col-4 lg-col-2 mb4 center">
      {{uniques_graph uniquesGraph.width uniquesGraph.max }}
      <div class="h5 bold mt1">Width</div>
    </div>
    <div class="col-4 lg-col-2 mb4 center">
      {{uniques_graph uniquesGraph.height uniquesGraph.max }}
      <div class="h5 bold mt1">Height</div>
    </div>
    <div class="col-4 lg-col-2 mb4 center">
      {{uniques_graph uniquesGraph.margin uniquesGraph.max }}
      <div class="h5 bold mt1">Margin</div>
    </div>
    <div class="col-4 lg-col-2 mb4 center">
      {{uniques_graph uniquesGraph.padding uniquesGraph.max }}
      <div class="h5 bold mt1">Padding</div>
    </div>
    <div class="col-4 lg-col-2 mb4 center">
      {{uniques_graph uniquesGraph.color uniquesGraph.max }}
      <div class="h5 bold mt1">Color</div>
    </div>
    <div class="col-4 lg-col-2 mb4 center">
      {{uniques_graph uniquesGraph.backgroundColor uniquesGraph.max }}
      <div class="h5 bold mt1">Background Color</div>
    </div>
  </div>
</section>

<section id="specificity-graph" class="mb4">
  <h1 class="h2 mt0">Specificity Graph</h1>
  {{line_graph specificityGraph 1152 320 }}
  <p>
    Base 10 specificity score for each selector by source order.
    Generally, lower scores and flatter curves are better for maintainability.
    <a href="http://csswizardry.com/2014/10/the-specificity-graph/">Learn More</a>
  </p>
</section>

<section id="rulesize-graph" class="mb4">
  <h1 class="h2 mt0">Ruleset Size</h1>
  {{line_graph rulesizeGraph 1152 320 }}
  <p>
    Number of declarations per ruleset
  </p>
</section>

<section id="media-queries" class="mb4">
  <h1 class="h2 m0">
    {{number stats.aggregates.mediaQueries.length }}
    {{pluralize stats.aggregates.mediaQueries.length 'Media Query' 'Media Queries' }}
  </h1>
  <div class="flex flex-wrap mxn2">
    {{#each stats.aggregates.mediaQueries }}
      <div class="h5 bold break-word col-6 sm-col-4 px2 mb2">
        {{ this }}
      </div>
    {{/each}}
  </div>
</section>

<section id="raw-css" class="mb4 print-hide">
  <h1 class="h2">
    Raw CSS
  </h1>
    {{#if source }}
    <ul class="list-reset">
        {{#if source.styles }}
          <li class="h5">
            {{ source.styles.length }} style
            {{ pluralize source.styles.length 'tag' 'tags' }}
          </li>
        {{/if}}
        {{#if source.links }}
          <li class="h5">
            {{ source.links.length }} stylesheet
            {{ pluralize source.links.length 'link' 'links' }}
          </li>
        {{/if}}
    </ul>
    {{/if}}
  <pre class="p2 rounded" style="max-height:50vh;overflow:auto">{{highlight cssPretty }}</pre>
  {{#if source.links }}
    <h2 class="h4">CSS files scraped</h2>
    <p class="h5">
      {{#each source.links }}
        <a href="{{ url }}" class="break-word">
          {{ url }}
        </a> <br>
      {{/each}}
    </p>
  {{/if}}
</section>


